/* You can add global styles to this file, and also import other style files */
body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.toast-success{
  position: fixed;
  top: 0;
  background: #1ecb1e;
  z-index: 1;
  right: 0;
  left: 0;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 19px;
}